.header-banner-img {
  width: 49%;
  height: 370px;
}

@media (max-width: 920px) {
  .header-banner {
      flex-wrap: wrap;
  }

  .header-banner-img {
      width: 100%;
      margin-bottom: 20px;
  }
}

@media (max-width: 720px) {
  .header-banner {
     padding: 15px;
  }
}